APP_URL=http://localhost:8000/
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
APP_KEY=XXXXX
APP_SESS=YYYYY
SIB_API_KEY=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
GCAPTCHA_V2_SITE_KEY=6LfKFlMgAAAAAHeF-_-xeBccQevIjR_bOzERZFmQ
GCAPTCHA_V2_SECRET_KEY=6LfKFlMgAAAAAA7z77nB46Bgw96vUxxGznCI44ML