APP_URL=http://localhost:8000/
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
APP_KEY=XXXXX
APP_SESS=YYYYY
SIB_API_KEY=QQQQQ
GCAPTCHA_V2_SITE_KEY=BBBBBB
GCAPTCHA_V2_SECRET_KEY=CCCCCC